In [1]:
from Connection import Connection
from Extract import Extract

#### Using class Connection with sqlalchemy method to connect to mysql databases

In [2]:
instance_con = Connection()
dalatake = instance_con.sqlalchemy_conn(
    database_name = 'datalake',
    type_connection = 'mysql+pymysql'
)

dw = instance_con.sqlalchemy_conn(
    database_name = 'data_warehouse',
    type_connection = 'mysql+pymysql'
)

Instance of connection object

Connection stablished: datalake
Connection stablished: data_warehouse

#### Creating an instance of the extract object and creating a dataframe using a local CSV

In [3]:
e = Extract()
economic_freedom = e.create_df_using_csv(
    csv_path_and_file_name\
        = "/home/welbert/Documents/proj_oo/exported_datasets/economic_freedom_test_file.csv",
        separator = ";"
)
economic_freedom.head()

Instance of extract object

Used encoding: utf-8

/tmp/ipykernel_203078/2983987323.py:2: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  economic_freedom = e.create_df_using_csv(

,CountryID,Country Name,WEBNAME,Region,World Rank,Region Rank,2019 Score,Property Rights,Judical Effectiveness,Government Integrity,...,Country,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
0,1,Afghanistan,Afghanistan,Asia-Pacific,152.0,39.0,51.5,19.6,29.6,25.2,...,Afghanistan,35.5,$69.6,2.5,2.9,"$1,958",8.8,5.0,53.9,7.3
1,2,Albania,Albania,Europe,52.0,27.0,66.5,54.8,30.6,40.4,...,Albania,2.9,$36.0,3.9,2.5,"$12,507",13.9,2.0,"1,119.1",71.2
2,3,Algeria,Algeria,Middle East and North Africa,171.0,14.0,46.2,31.6,36.2,28.9,...,Algeria,41.5,$632.9,2.0,3.1,"$15,237",10.0,5.6,"1,203.0",25.8
3,4,Angola,Angola,Sub-Saharan Africa,156.0,33.0,50.6,35.9,26.6,20.5,...,Angola,28.2,$190.3,0.7,2.9,"$6,753",8.2,31.7,"-2,254.5",65.3
4,5,Argentina,Argentina,Americas,148.0,26.0,52.2,47.8,44.5,33.5,...,Argentina,44.1,$920.2,2.9,0.7,"$20,876",8.7,25.7,"11,857.0",52.6

#### Using a sql file to bring data from a mysql database

##### Without params

In [4]:
df_from_sql_without_params = e.create_df_reading_sql_file_without_param(
    file_name = "test_proj_oo_ETL",
    connection = dw
)
print(f"Total rows: {df_from_sql_without_params.shape[0]}")
df_from_sql_without_params.head()

Total rows: 43

,code,codein,name,high,low,varBid,pctChange,bid,ask,timestamp,created_date
0,USD,BRL,DÃ³lar Americano/Real Brasileiro,5.2570,5.1462,0.0686,1.32,5.2513,5.2520,1662055164,2022-09-01 14:59:24
1,USD,BRL,DÃ³lar Americano/Real Brasileiro,5.2422,5.1659,-0.0442,-0.84,5.1971,5.1978,1662141596,2022-09-02 14:59:56
2,USD,BRL,DÃ³lar Americano/Real Brasileiro,5.1901,5.1500,-0.0109,-0.21,5.1567,5.1577,1662400783,2022-09-05 14:59:43
3,USD,BRL,DÃ³lar Americano/Real Brasileiro,5.2504,5.1531,0.0960,1.86,5.2473,5.2480,1662487155,2022-09-06 14:59:15
4,USD,BRL,DÃ³lar Americano/Real Brasileiro,5.2531,5.2484,-0.0043,-0.08,5.2480,5.2489,1662573531,2022-09-07 14:58:51

##### With params

In [5]:
df_from_sql_with_params = e.create_df_reading_sql_file_with_dates_param(
    file_name = "test_proj_oo_ETL_with_params",
    connection = dw,
    start_date = "2022-12-01",
    end_date = "2023-01-10"
)

print(f"Total rows: {df_from_sql_with_params.shape[0]}")
df_from_sql_with_params.head()

Total rows: 22

,code,codein,name,high,low,varBid,pctChange,bid,ask,timestamp,created_date
0,USD,BRL,DÃ³lar Americano/Real Brasileiro,5.2811,5.2185,-0.0354,-0.67,5.2449,5.2460,1670338051,2022-12-06 11:47:31
1,USD,BRL,DÃ³lar Americano/Real Brasileiro,5.2660,5.2071,0.0440,0.84,5.2621,5.2637,1670263150,2022-12-05 14:59:10
2,USD,BRL,DÃ³lar Americano/Real Brasileiro,5.2768,5.1986,-0.0284,-0.54,5.2053,5.2083,1670435959,2022-12-07 14:59:19
3,USD,BRL,DÃ³lar Americano/Real Brasileiro,5.2516,5.1913,0.0064,0.12,5.2106,5.2117,1670522346,2022-12-08 14:59:06
4,USD,BRL,DÃ³lar Americano/Real Brasileiro,5.2832,5.2174,0.0293,0.56,5.2543,5.2548,1670608865,2022-12-09 15:01:05

##### Crearing a CSV file using a df

In [6]:
e.create_csv_using_df(
    df = df_from_sql_with_params,
    target_file_name = "economic_freedom_between_20221201_and_20230110"
)

"CSV file created in './exported_datasets/economic_freedom_between_20221201_and_20230110.csv'"

##### Downloading kaggle dataset using kaggle API

In [8]:
e.download_kaggle_dataset(
    user = "lewisduncan93/the-economic-freedom-index",
    file_name = "economic_freedom_index2019_data.csv"
)

'The file economic_freedom_index2019_data.csv was successfully downloaded'

##### Creating a df obtained through an API that returns a json structure